<h1>KEIKOBA</h1>

<p><%= @user.name %> さん、こんにちは！</p>

<p>
KEIKOBA へのご登録ありがとうございます。<br>
アカウントを有効にするには、下記ボタンをクリックしてください。
</p>

<%= link_to "アカウントを有効にする", edit_account_activation_url(@user.activation_token, email: @user.email) %>