<nav class="nav nav-tabs mt-3 pt-3">
  <a class="nav-link active" aria-current="page" href="#">ホーム</a>
  <a class="nav-link" href="#">コメント</a>
  <a class="nav-link" href="#">お気に入り</a>
  <a class="nav-link" href="#">ブックマーク</a>
</nav>