<% if @user.posts.any?%>
  <h3>投稿 (<%= @user.posts.count %>件)</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <%= render @posts %>
  </div>
  <div class="mt-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>