<nav class="mt-5">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controles="nav-home" aria-selected="true">ホーム</a>
    <a class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" href="#nav-comment" role="tab" aria-controles="nav-comment" aria-selected="false">コメント</a>
    <a class="nav-link" id="nav-favorite-tab" data-bs-toggle="tab" href="#nav-favorite" role="tab" aria-controles="nav-favorite" aria-selected="false">お気に入り</a>
    <a class="nav-link" id="nav-bookmark-tab" data-bs-toggle="tab" href="#nav-bookmark" role="tab" aria-controles="nav-bookmark" aria-selected="false">ブックマーク</a>
  </div>
</nav>