<% if @user.bookmark_posts.any?%>
  <h3>ブックマーク (<%= @user.bookmark_posts.count %>件)</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <%= render @bookmark_posts %>
  </div>
<% end %>
  <div class="mt-4">
    <%== pagy_bootstrap_nav(@pagy_bookmark_posts) %>
  </div>
