<% provide(:title, @user.name) %>
<%= render 'users/user_header' %>
<%= render 'users/user_nav' %>
<div>
  <h1 class="mt-3 pt-3">Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>
</div>