<% heart_shape = Favorite.exists?(post_id: post.id) ? 'fas fa-heart' : 'far fa-heart' %>
<% send_type =
    if current_user == post.user
      ''
    elsif Favorite.exists?(post_id: post.id)
      :delete
    else
      :post
    end  %>
<% link_disable = (send_type == '') ? 'pointer-events:none;' : '' %>

<%= link_to "", post_favorites_path(post), method: send_type, remote:true, class: "#{heart_shape} text-dark", style: "font-size: 20px; text-decoration: none;" %>
<span class="" style="font-size: 20px; font-weight: normal; #{link_disable}"><%= post.favorites.length%></span>
