<div class="col-md-4 mb-3">
  <div class="card">
    <img src="#" class="img-fluid" alt="100%x280">
    <div class="card-body">
      <h4 class="card-title"><%= newest.content %></h4>
      <p class="card-text">投稿日 <%= l newest.created_at %></p>
    </div>
    <div class="p-3">
      <%= link_to gravatar_for(newest.user, size: 50), newest.user %>
      <%= link_to newest.user.name, newest.user %>
    </div>
  </div>
</div>
